.dashbored_container {
  background-color: #393e46;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  margin: 200px auto;
  width: 80%;
  display: flex;
  color: white;
}

.dashbored_container a {
  color: white;
}

.dashbored_icon {
  border-radius: 50%;
  width: 40%;
  margin: auto;
}

.dashbored_display {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 30px auto;
  text-align: center;
}

.dashbored_display button{
  margin: 10px;
}

.dashbored_activities {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  margin: 50px auto;
}

.dashbored_record {
  width: 80%;
  border-radius: 15px;
  box-shadow: #f0d879 0px 1px 4px, #f0d879 0px 0px 0px 3px;
  height: 40%;
  margin: auto;
}

.dashbored_record:hover {
  color: #45b7b8;
  box-shadow: #45b7b8 0px 1px 4px, #45b7b8 0px 0px 0px 3px;
}

.dashbored_activity {
  width: 80%;
  box-shadow: #f0d879 0px 1px 4px, #f0d879 0px 0px 0px 3px;
  border-radius: 15px;
  height: 100px;
  margin: auto;
  text-align: center;
}

.dashbored_activity:hover {
  /* opacity: 0.5; */
  color: #45b7b8;
  box-shadow: #45b7b8 0px 1px 4px, #45b7b8 0px 0px 0px 3px;
}
