/* *{
  background-color: #072e3a;
} */

body {
  /* background-color: #072e3a; */
  background-color: white;
}

.form_container {
  background-color: white;
  flex: 1;
  margin: 200px auto;
}

.form {
  margin: 10px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

button {
  background-color: black;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
}

a {
  text-decoration: none;
}
